.card-container{
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    padding:1rem;
    background: #ffffffbc;
    backdrop-filter: blur(50px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    
}
.card-container .card-img{
    width: 100%;
    height: 280px;
}
.card-container .card-img img{
    width: 300px;
    height: 280px;
    object-fit: cover;
}
.cards-container {
    columns: 3 ;
    column-gap: 2rem ;
}
.cards-container .next{
    margin-top: 2rem;
}
@media (max-width: 900px){
    .card-container{
        text-align: center;
        margin: 0 25px;
        display: flex;
        flex-direction: column;
        padding:1rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }
    .cards-container .next{
        margin-top: 2rem;
    }
    .card-container .card-img{
        width: 100%;
        height: 280px;
    }
    .card-container .card-img img{
        width: 300px;
        height: 280px;
        object-fit: cover;
    }
    .cards-container {
        columns: 1 ;
        column-gap: 2px;
    }

}

/* Card 2 */

.card-2-container .card-img{
    width: 100%;
    height: 280px;
}
.card-2-container .card-img img{
    width: 300px;
    height: 280px;
    object-fit: cover;
}
.cards-2-container {
    columns: 3 ;
    column-gap: 2rem ;
}
.cards-container .next{
    margin-top: 2rem;
}
.card-2-container{
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    padding:1rem;
    color: #fff;
    backdrop-filter: blur(50px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    
    background: linear-gradient(90deg, #011c31, #060427);
    border: #fff solid 0.5px;
    
}
.card-2-container a{
    background-color: #06042790;
    border-radius: 12px;
    margin-top: 1rem;
    padding: 15px;
    color: #ffffff;
    backdrop-filter: blur(50px);
    border: #fff solid 0.5px;
    transition: 0.5s;
}
.card-2-container a:hover{
    
    background-color: #0e7aa8;
    border-radius: 25px;
}
@media (max-width: 900px){
    .card-2-container{
        text-align: center;
        margin: 0 25px;
        display: flex;
        flex-direction: column;
        padding:1rem;

        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }
    .cards-2-container .next{
        margin-top: 2rem;
    }
    .card-2-container .card-img{
        width: 100%;
        height: 280px;
    }
    .card-2-container .card-img img{
        width: 300px;
        height: 280px;
        object-fit: cover;
    }
    .cards-2-container {
        columns: 1 ;
        column-gap: 2px;
    }
    .cards-2-container .next{
        margin-top: 2rem;
    }
}
