h1 {
    font-weight: 800;
}
.Slide-4,  .Slide-5,.Slide-1, .slide-2{
    color: #fff;

}
.Slide-1 .hero-content h1{
    color: #fff;
}
.Slide-3{
    background: #f5f0f0;
    color: #252528;
}
.slide-2{
    background: radial-gradient(circle at top left,transparent 9%, #413c9d 10% ,#413c9d 15% , transparent 16%) , radial-gradient(circle at bottom left,transparent 9%, #413c9d 10% ,#413c9d 15% , transparent 16%), radial-gradient(circle at top right ,transparent 9%, #413c9d 10% ,#413c9d 15% , transparent 16%) , radial-gradient(circle at bottom right,transparent 9%, #413c9d 10% ,#413c9d 15% , transparent 16%),radial-gradient(circle, transparent 25%, #09193b  26%),linear-gradient(45deg, transparent 46%, #413c9d 47%, #413c9d 52%, transparent 53%), linear-gradient(135deg, transparent 46%, #413c9d 47%, #413c9d 52%, transparent 53%);
    background-size: 6em 6em;
    background-color: #09193b;
    background-position: center;
    background-size: cover;
    background-attachment:  fixed;
    opacity: 1;
}

.Slide-5{
    background-image: url(blurry_background.jpg);
    background-size: 6em 6em;
    background-position: center;
    background-size: cover;
    background-attachment:  fixed;
}


@media (max-width: 900px) {
    
    .image-hero-container img {
        width: 85vw;
    }

    h1 {
        font-size: 3rem;
    }

    .main-container {
        min-height: 100vh;
        width: 100%;
        background: linear-gradient(90deg, rgb(1, 28, 49), rgb(6, 4, 39));
        
    }

    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 25px;
        text-align: center;
        min-height: 100vh;

    }
    .Slide-3 .image-hero-container img{
        width: 65vw;
    }
    .Slide-4 .image-hero-container img{
        clip-path: circle();
        width: 50vw;
    }
    br{
        display: block;
    }
}

@media (min-width: 1199px) {
    .main-container {
        min-height: 100vh;
        width: 100%;
        /* background-color: #090616; */
        background: linear-gradient(90deg, rgb(1, 28, 49), rgb(6, 4, 39));

        /* background-color: #070616; */
        color: #fff;
    }

    .main-content {
        max-width: 1200px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
    }

    .image-hero-container img {
        width: 35vw;
        position: relative;
        right: 0;
    }

    h1 {
        font-size: 4.5rem;
    }

    p {
        font-size: 1.5rem;
    }
    
}