h1 {
    font-weight: 800;
}


@media (max-width: 900px) {
    .image-hero-container img {
        width: 85vw;
    }
    h1{
        font-size: 3rem;
    }

    .main-container {
        min-height: 100vh;
        width: 100%;
        background: radial-gradient(circle at 50% 50%, rgb(22, 30, 72), rgb(3, 0, 62));
        color: #fff;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 25px;
        text-align: center;
        min-height: 100vh;
    }
}
@media (min-width: 1199px) {
    .main-container {
        min-height: 100vh;
        width: 100%;
        /* background-color: #090616; */
        background: linear-gradient(90deg, rgb(16, 35, 128), rgb(3, 0, 62));

        /* background-color: #070616; */
        color: #fff;
    }
    .main-content {
        max-width:1000px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .image-hero-container img {
        width: 500px;
    }
    h1{
        font-size: 4.5rem;
    }
    p{
        font-size: 1.5rem;
    }
}
