header {
    z-index: 999;
}


.link-container .nav-item a {
    color: #1a1a1b;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
}
.link-container .nav-item a:hover{
    color: aqua;
    
    transition: 0.5s;
}
ion-icon {
    font-size: 27px;
}

@media (max-width: 900px) {
    p{
        font-size: 14px;
    }
    nav {
        position: fixed;
        z-index: 9999;
        bottom: 0;
        width: 100%;
        display: grid;
        place-items: center;
        padding: 25px;
        background-color: #ffffff56;
        backdrop-filter: blur(50px);
        box-shadow: rgba(0, 0, 0, 0.014) 0px 0px 20px 15px;
    }

    header {

        bottom: 0;
    }

    .nav {

        position: fixed;
        display: flex;
        width: 100%;
        padding-bottom: 25px;
        padding-top: 15px;
        background-color: #ffffff77;
        box-shadow: rgba(0, 0, 0, 0.014) 0px 0px 20px 15px;
    }

    .nav {
        border-top-right-radius: 45px;
        border-top-left-radius: 45px;
    }

    .link-container {
        margin-top: 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
        justify-content: space-around;
    }

    .nav-bar .logo-container {

        position: fixed;
        border-bottom-right-radius: 45px;
        border-top-right-radius: 45px;
        top: 0;
        left: 0;
        display: flex;
        justify-content: flex-end;
        justify-self: center;
        display: grid;
        padding: 25px;
        place-items: center;
        background-color: #ffffff77;
        box-shadow: rgba(0, 0, 0, 0.014) 0px 0px 20px 15px;
    }

    .nav-bar .logo-container {
        font-weight: 800;
        font-size: 20px;
        text-transform: uppercase;
    }

    .nav-bar .logo-container a {

        color: #474749;
    }
    #menu{
        position: absolute;
        z-index:999;
    }
    .img-menu img{
        top: 0;
        width: 85vw;
        margin-bottom: 68px;
      }
      .modal {
        z-index: 9999;
        position: fixed;
        top: 85%;
        right: -100%;
        translate: 50% -50%;
        background: #ffffff5e;
        backdrop-filter: blur(25px);
        color: #f9f9f9;
        padding: 48px 40px;
        width: 90vw;
        height: 50vh;
        border-radius: 25px 25px 0 0;
    
      }

}

@media (min-width: 1199px) {
    header {

        top: 0;
    }

    nav {

        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        justify-content: flex-end;
        justify-self: center;
        display: grid;
        padding: 25px 45px 25px 25px;
        place-items: center;
        background-color: #ffffff83;
        backdrop-filter: blur(50px);
        box-shadow: rgba(0, 0, 0, 0.014) 0px 0px 20px 15px;

    }

    .nav {
        border-bottom-left-radius: 45px;
        border-top-left-radius: 45px;
    }

    .link-container {
        width: 50%;
        display: flex;
        justify-content: center;
        justify-content: space-around;
    }

    .link-container .nav-item {
        margin-left: 1.2rem;
    }

    .nav-bar .logo-container {

        border-bottom-right-radius: 45px;
        border-top-right-radius: 45px;
        top: 0;
        left: 0;
        display: flex;
        justify-content: flex-end;
        justify-self: center;
        display: grid;
        padding: 25px 45px 25px 25px;
        place-items: center;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.014) 0px 0px 20px 15px;
    }

    .nav-bar .logo-container {
        font-weight: 800;
        font-size: 20px;
        text-transform: uppercase;
    }

    .nav-bar .logo-container a {

        color: #474749;
    }
    .modal {
        z-index: 999;
        position: fixed;
        top: 50%;
        right: -100%;
        translate: 50% -50%;
        background: #ffffff5e;
        backdrop-filter: blur(25px);
        color: #f9f9f9;
        padding: 48px 40px;
        width: 65vw;
        height: 50vh;
        border-radius: 25px;
    
      }
}


/* Menu */

/* button {
    font-family: inherit;
    cursor: pointer;
    background: #101012;
    color: #f9f9f9;
    border: 0;
    border-radius: 8px;
    padding: 20px 36px;
    font-size: 16px;
  } */
  
  .background {
    z-index: 998;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(50px);
  }
  .background  img{
    width: 350px;
  }
  body.open .background  {
    visibility: visible;
    opacity: 1;
  }
  
  @keyframes modal-in {
    0%,
    50% {
      width: 118px;
      border-radius: 50%;
    }
    55%,
    100% {
      right: 50%;
    }
    60% {
      width: 300px;
      border-radius: 12px;
    }
    75% {
      translate: 50% -50%;
    }
  }
  
  .page-content,
  .modal,.img-menu
  .background {
    transition: 0.5s;
  }
  
 
  
  .img-menu img{
    width: 75vw;
    margin-bottom: 60px;
  }
  
  @keyframes modal-content-in {
    0%,
    75% {
      opacity: 0;
    }
    85%,
    100% {
      opacity: 1;
    }
  }
  
  body.open .modal-content, .img-menu {
    animation: modal-content-in 1s both;
  }
  
  body.open > .page-content {
    scale: 0.75;
  }
  
  body.open .modal  {
    animation: modal-in 1s both;
  }
  .modal-content{
    display:grid;
    place-items: center;
  }
